FORMAT: 1A
HOST: http://api.mv2.domain/api/v3/

# MV3 - Web

MV3 utilizes JWT Authentication which generates token on user sign in. Token is required for most requests.
Token can be send as `token` parameter as query string or as header in such format `Authorization: Bearer {system-generated-token}`.

When sending request with body of JSON headers should contain `Content-Type: application/json`.

## Group Authentication
## Password Reset Initiate [/auth/reset-initiate]
### Password Reset Initiate [POST]
Initiate password reset. Valid user will receive reset token by email with link to update password.

+ Request (application/json)

        {
            "email": "user@example.com"
        }

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Success",
                "data": {
                    "email": "user@example.com"
            }

## Password Reset Change [/auth/reset-change]
### Password Reset Change [POST]
Reset password from valid token.

+ Request (application/json)

        {
            "code": "0482e5ae7c2b1d121ee32fb21cf4df86779692882eca8e3bea88b59bee936699",
            "password": "ano123",
            "passwordConfirm": "ano123"
        }

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Login has been successfully.",
                "data": {
                    "userType": "customer",
                    "token": "XXX",
                    "user": {
                        "id": 1,
                        "civility": "mr",
                        "lastName": "User",
                        "firstName": "Sample",
                        "email": "user@example.com",
                        "mobilePhone": "08777111",
                        "officePhone": "02155",
                        "jobTitle": "Admin",
                        "isGuest": false,
                        "isCustomer": false,
                        "isActive": true,
                        "profilePicPath": "uploads/users/1500357858_8219faf92f20bb0c216fca2d875ef952.jpg",
                        "companyList": null,
                        "color": "#67e9ba",
                        "accesses": [
                            {
                                "id": 36,
                                "isPowerUser": true,
                                "profile": {
                                    "id": 2,
                                    "name": "Asset Manager",
                                    "description": null,
                                    "slug": "asset-manager",
                                    "protected": true,
                                    "permissions": [
                                        {
                                            "portfolio.manage": true
                                        },
                                        {
                                            "portfolio.delete": true
                                        },
                                        {
                                            "property.manage": true
                                        },
                                        {
                                            "property.delete": true
                                        },
                                        {
                                            "contract.read": true
                                        },
                                        {
                                            "contract.manage": true
                                        },
                                        {
                                            "contract.delete": true
                                        },
                                        {
                                            "contract.validate": true
                                        },
                                        {
                                            "tenancy-schedule.read": true
                                        },
                                        {
                                            "tenancy-schedule.download": true
                                        },
                                        {
                                            "crm-prospect.read": true
                                        },
                                        {
                                            "crm-prospect.manage": true
                                        },
                                        {
                                            "crm-prospect.delete": true
                                        },
                                        {
                                            "crm-transaction.read": true
                                        },
                                        {
                                            "crm-transaction.manage": true
                                        },
                                        {
                                            "crm-transaction.delete": true
                                        },
                                        {
                                            "crm-competitor.read": true
                                        },
                                        {
                                            "crm-competitor.manage": true
                                        },
                                        {
                                            "crm-competitor.delete": true
                                        },
                                        {
                                            "cashflow.read": true
                                        },
                                        {
                                            "dataroom.edit": true
                                        },
                                        {
                                            "dataroom.document-upload": true
                                        },
                                        {
                                            "dataroom.document-delete": true
                                        },
                                        {
                                            "kpi.lettable-area.read": true
                                        },
                                        {
                                            "kpi.occupied-area.read": true
                                        },
                                        {
                                            "kpi.annual-income.read": true
                                        },
                                        {
                                            "kpi.occupation-rate.read": true
                                        },
                                        {
                                            "kpi.property-value.read": true
                                        },
                                        {
                                            "kpi.average-economic-rent-signature.read": true
                                        },
                                        {
                                            "kpi.tenant.read": true
                                        },
                                        {
                                            "kpi.current-capex-program.read": true
                                        },
                                        {
                                            "kpi.debt.read": true
                                        },
                                        {
                                            "kpi.recoverable-charge-tax.read": true
                                        },
                                        {
                                            "kpi.average-face-rent-signature.read": true
                                        },
                                        {
                                            "kpi.erv.read": true
                                        },
                                        {
                                            "kpi.average-face-rent.read": true
                                        },
                                        {
                                            "kpi.wale.read": true
                                        },
                                        {
                                            "stacking-plan.read": true
                                        },
                                        {
                                            "next-break.read": true
                                        }
                                    ],
                                    "familyProfile": {
                                        "id": 2,
                                        "name": "Asset Manager",
                                        "slug": "asset-manager",
                                        "protected": true
                                    }
                                },
                                "customer": {
                                    "id": 36,
                                    "fullName": "DEMO",
                                    "tradeName": "DEMO",
                                    "vatOption": 0,
                                    "active": 1,
                                    "intercommunityVat": null,
                                    "vat": null,
                                    "siren": null,
                                    "naf": null,
                                    "iban": "FR7630001007941234567890185",
                                    "accountName": "BKCOORD",
                                    "swift": "FRFRFR76300",
                                    "addressOption": 1,
                                    "addresses": [
                                        {
                                            "id": 63,
                                            "addressType": "headquarter",
                                            "address": {
                                                "id": 424,
                                                "address1": "4, Yonge Street",
                                                "address2": null,
                                                "zipcode": "45000",
                                                "city": "Richmond Hill",
                                                "country": "Canada",
                                                "lat": 43.9159154,
                                                "lng": -79.4481472
                                            }
                                        },
                                        {
                                            "id": 64,
                                            "addressType": "billing",
                                            "address": {
                                                "id": 425,
                                                "address1": null,
                                                "address2": null,
                                                "zipcode": null,
                                                "city": null,
                                                "country": null,
                                                "lat": 48.6670602,
                                                "lng": 1.8179955
                                            }
                                        }
                                    ],
                                    "customerImg": [
                                        "uploads/customers/1506088646_2cdb50693f36b47f1fdd6719a872a055.jpeg"
                                    ],
                                    "raisonSociale": {
                                        "id": 3,
                                        "code": "M03",
                                        "label": "SARL"
                                    },
                                    "company": {
                                        "id": 67,
                                        "address": {
                                            "id": 424,
                                            "address1": "4, Yonge Street",
                                            "address2": null,
                                            "zipcode": "45000",
                                            "city": "Richmond Hill",
                                            "country": "Canada",
                                            "lat": 43.9159154,
                                            "lng": -79.4481472
                                        },
                                        "fullName": "DEMO",
                                        "tradeName": "DEMO",
                                        "raisonSociale": {
                                            "id": 3,
                                            "code": "M03",
                                            "label": "SARL"
                                        },
                                        "intercommunityVat": null,
                                        "naf": null,
                                        "siren": null,
                                        "vat": null,
                                        "vatOption": 0
                                    }
                                },
                                "resources": {
                                    "portfolios": []
                                }
                            }
                        ],
                        "company": {
                            "id": 9,
                            "address": {
                                "id": 34,
                                "address1": "Paris",
                                "address2": null,
                                "zipcode": "83470",
                                "city": "Var",
                                "country": "Prancis",
                                "lat": 43.4941437,
                                "lng": 5.8932809
                            },
                            "fullName": "TEST 12",
                            "tradeName": "TEST14JULY",
                            "raisonSociale": {
                                "id": 1,
                                "code": "M01",
                                "label": "SOCIETE"
                            },
                            "intercommunityVat": "TSET11001010",
                            "naf": "TEST10101010",
                            "siren": null,
                            "vat": null,
                            "vatOption": 1
                        }
                    }
                }
            }

## Group Self User
## My Profile [/my/profile]
### My Profile [GET]
Get User Profile of current logged in user.

+ Request (application/json)

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 29,
                    "email": "devlocal@example.com",
                    "civility": "mr",
                    "firstName": "Dev",
                    "lastName": "LOCAL",
                    "mobilePhone": null,
                    "officePhone": null,
                    "jobTitle": "Testeur",
                    "isAdmin": null,
                    "isActive": 1,
                    "profilePicPath": null,
                    "color": "#c24dde",
                    "company": {
                        "id": 54,
                        "address": {
                            "id": 368,
                            "address1": "4, Rue de Dunkerque",
                            "address2": null,
                            "zipcode": "75010",
                            "city": "Paris",
                            "country": "France",
                            "lat": 48.8794183,
                            "lng": 2.3583814
                        },
                        "fullName": "Company Name",
                        "tradeName": "Company Name",
                        "raisonSociale": {
                            "id": 2,
                            "code": "M02",
                            "label": "S.A."
                        },
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": 0
                    },
                    "accesses": [
                        {
                            "id": 36,
                            "isPowerUser": true,
                            "profile": {
                                "id": 2,
                                "name": "Asset Manager",
                                "description": null,
                                "slug": "asset-manager",
                                "protected": true,
                                "permissions": [
                                    {
                                        "portfolio.manage": true
                                    },
                                    {
                                        "portfolio.delete": true
                                    },
                                    {
                                        "property.manage": true
                                    },
                                    {
                                        "property.delete": true
                                    },
                                    {
                                        "contract.read": true
                                    },
                                    {
                                        "contract.manage": true
                                    },
                                    {
                                        "contract.delete": true
                                    },
                                    {
                                        "contract.validate": true
                                    },
                                    {
                                        "tenancy-schedule.read": true
                                    },
                                    {
                                        "tenancy-schedule.download": true
                                    },
                                    {
                                        "crm-prospect.read": true
                                    },
                                    {
                                        "crm-prospect.manage": true
                                    },
                                    {
                                        "crm-prospect.delete": true
                                    },
                                    {
                                        "crm-transaction.read": true
                                    },
                                    {
                                        "crm-transaction.manage": true
                                    },
                                    {
                                        "crm-transaction.delete": true
                                    },
                                    {
                                        "crm-competitor.read": true
                                    },
                                    {
                                        "crm-competitor.manage": true
                                    },
                                    {
                                        "crm-competitor.delete": true
                                    },
                                    {
                                        "cashflow.read": true
                                    },
                                    {
                                        "dataroom.edit": true
                                    },
                                    {
                                        "dataroom.document-upload": true
                                    },
                                    {
                                        "dataroom.document-delete": true
                                    },
                                    {
                                        "kpi.lettable-area.read": true
                                    },
                                    {
                                        "kpi.occupied-area.read": true
                                    },
                                    {
                                        "kpi.annual-income.read": true
                                    },
                                    {
                                        "kpi.occupation-rate.read": true
                                    },
                                    {
                                        "kpi.property-value.read": true
                                    },
                                    {
                                        "kpi.average-economic-rent-signature.read": true
                                    },
                                    {
                                        "kpi.tenant.read": true
                                    },
                                    {
                                        "kpi.current-capex-program.read": true
                                    },
                                    {
                                        "kpi.debt.read": true
                                    },
                                    {
                                        "kpi.recoverable-charge-tax.read": true
                                    },
                                    {
                                        "kpi.average-face-rent-signature.read": true
                                    },
                                    {
                                        "kpi.erv.read": true
                                    },
                                    {
                                        "kpi.average-face-rent.read": true
                                    },
                                    {
                                        "kpi.wale.read": true
                                    },
                                    {
                                        "stacking-plan.read": true
                                    },
                                    {
                                        "next-break.read": true
                                    }
                                ],
                                "familyProfile": {
                                    "id": 2,
                                    "name": "Asset Manager",
                                    "slug": "asset-manager",
                                    "protected": true
                                }
                            },
                            "customer": {
                                "id": 36,
                                "fullName": "DEMO",
                                "tradeName": "DEMO",
                                "vatOption": 0,
                                "active": 1,
                                "intercommunityVat": null,
                                "vat": null,
                                "siren": null,
                                "naf": null,
                                "iban": "FR7630001007941234567890185",
                                "accountName": "BKCOORD",
                                "swift": "FRFRFR76300",
                                "addressOption": 1,
                                "addresses": [
                                    {
                                        "id": 63,
                                        "addressType": "headquarter",
                                        "address": {
                                            "id": 424,
                                            "address1": "4, Yonge Street",
                                            "address2": null,
                                            "zipcode": "45000",
                                            "city": "Richmond Hill",
                                            "country": "Canada",
                                            "lat": 43.9159154,
                                            "lng": -79.4481472
                                        }
                                    },
                                    {
                                        "id": 64,
                                        "addressType": "billing",
                                        "address": {
                                            "id": 425,
                                            "address1": null,
                                            "address2": null,
                                            "zipcode": null,
                                            "city": null,
                                            "country": null,
                                            "lat": 48.6670602,
                                            "lng": 1.8179955
                                        }
                                    }
                                ],
                                "customerImg": [
                                    "uploads/customers/1506088646_2cdb50693f36b47f1fdd6719a872a055.jpeg"
                                ],
                                "raisonSociale": {
                                    "id": 3,
                                    "code": "M03",
                                    "label": "SARL"
                                },
                                "company": {
                                    "id": 67,
                                    "address": {
                                        "id": 424,
                                        "address1": "4, Yonge Street",
                                        "address2": null,
                                        "zipcode": "45000",
                                        "city": "Richmond Hill",
                                        "country": "Canada",
                                        "lat": 43.9159154,
                                        "lng": -79.4481472
                                    },
                                    "fullName": "DEMO",
                                    "tradeName": "DEMO",
                                    "raisonSociale": {
                                        "id": 3,
                                        "code": "M03",
                                        "label": "SARL"
                                    },
                                    "intercommunityVat": null,
                                    "naf": null,
                                    "siren": null,
                                    "vat": null,
                                    "vatOption": 0
                                }
                            },
                            "resources": {
                                "portfolios": []
                            }
                        }
                    ]
                }
            }

## Group Portfolio
## Portfolio Details [/companies/{customerId}/portfolios/{portfolioId}/details]
### Portfolio Details [GET]
Get Portfolio Details.

+ Request (application/json)

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Success",
                "data": {
                    "properties": [
                        {
                            "id": 124,
                            "name": "IDF Défense",
                            "valorisation": 270000000,
                            "lettableArea": 30200,
                            "occupation": {
                                "today": 78.81
                            },
                            "annualIncome": 12147795,
                            "portfolioBreakdown": 68.04
                        }
                    ],
                    "tenants": [
                        {
                            "id": 50,
                            "fullName": "PARK",
                            "leases": [
                                {
                                    "id": 56,
                                    "property": {
                                        "id": 124,
                                        "name": "IDF Défense"
                                    },
                                    "faceRent": 206205,
                                    "sdp": 0,
                                    "portfolioBreakdown": 1.15,
                                    "nextBreak": "2026-03-01"
                                }
                            ]
                        }
                    ],
                    "brokers": [
                        {
                            "id": 57,
                            "name": "Quentin Test",
                            "visits": 1,
                            "contracts": 0
                        }
                    ],
                    "prospects": [
                        {
                            "id": 74,
                            "fullName": "SAMSUNG",
                            "property": {
                                "id": 123,
                                "name": "IDF Paris"
                            },
                            "broker": {
                                "id": 32,
                                "name": "Isa Teboul"
                            },
                            "wantedArea": null,
                            "phase": "RFP",
                            "visitDate": null,
                            "nextStep": null,
                            "reason": "Merging"
                        }
                    ]
                }
            }

## Group Property
## Property List [/companies/{customerId}/portfolios/{portfolioId}/properties]
### Property List [GET]
Get list of Property.

+ Request (application/json)

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "kpi": {
                            "lettableArea": "8000.00",
                            "value": "29600000",
                            "occupiedArea": 5400,
                            "annualIncome": "1141291.00",
                            "occupationRate": 67.5,
                            "propertyValue": "29600000",
                            "numberOfTenant": 3,
                            "propertyDebt": "8880000",
                            "averageFaceRentSignature": 209.03740740740741,
                            "averageFaceRent": 207.36305886549633,
                            "averageEconomicRentSignature": 0,
                            "currentCapexProgram": "1500000",
                            "recoverableChargeTax": "52",
                            "erv": "200",
                            "wale": {
                                "kpi1": 4.156643835616438,
                                "kpi2": 4.285024517946318,
                                "kpi3": 6.157990867579908,
                                "kpi4": 6.237386137187484,
                                "kpi5": 2.606164383561644,
                                "kpi6": 2.4681927016681837,
                                "kpi7": 3.8609842719431757,
                                "kpi8": 3.5927614595472246,
                                "kpi1WaltAreaIncludeVacancy": 4.156643835616438,
                                "kpi2WaltRentIncludeVacancy": 4.285024517946318,
                                "kpi3WaltAreaExcludeVacancy": 6.157990867579908,
                                "kpi4WaltRentExcludeVacancy": 6.237386137187484,
                                "kpi5WalbAreaIncludeVacancy": 2.606164383561644,
                                "kpi6WalbRentIncludeVacancy": 2.4681927016681837,
                                "kpi7WalbAreaExcludeVacancy": 3.8609842719431757,
                                "kpi8WalbRentExcludeVacancy": 3.5927614595472246
                            }
                        },
                        "id": 130,
                        "name": "Lyon 2",
                        "crlOption": false,
                        "code": "Lyon 2",
                        "address": {
                            "id": 505,
                            "address1": "58, Avenue Salvador Allende",
                            "address2": null,
                            "zipcode": "69500",
                            "city": "Bron",
                            "country": "France",
                            "lat": 45.7398083,
                            "lng": 4.9274098
                        },
                        "images": [
                            "uploads/properties/1505814944_74c11df7b2524d27b96c6290d791371b.png"
                        ],
                        "unit": "m²",
                        "currency": {
                            "id": 1,
                            "code": "€",
                            "name": "Euro"
                        },
                        "constructionYear": "2017",
                        "restructurationYear": [],
                        "typology": {
                            "id": 2,
                            "code": "2",
                            "hasLoyer": true,
                            "label": "Bureaux"
                        },
                        "sdp": 8000,
                        "numberOfParking": 150,
                        "measurementUnit": {
                            "id": 1,
                            "code": "m²",
                            "name": "square meter",
                            "meterConversionRate": 1
                        },
                        "company": {
                            "id": 0,
                            "address": {
                                "id": 0,
                                "address1": null,
                                "address2": null,
                                "zipcode": null,
                                "city": null,
                                "country": null,
                                "lat": 0,
                                "lng": 0
                            },
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": {
                                "id": 0,
                                "code": null,
                                "label": null
                            },
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        },
                        "coPro": false,
                        "coProCompanyName": null,
                        "coProContactName": null,
                        "coProContactEmail": null,
                        "coProContactPhone": null,
                        "volumeDivided": false,
                        "asl": false,
                        "aful": false,
                        "servitude": false,
                        "zac": false,
                        "igh": false,
                        "erp": false,
                        "icpe": false,
                        "rie": false,
                        "subdivision": false,
                        "commercialUrbanism": false,
                        "expertiseCIBE": false,
                        "cotationCIBE": 0,
                        "expertiseCELOG": false,
                        "cotationCELOG": 0,
                        "greenCertificationOption": false,
                        "hqe": false,
                        "leed": false,
                        "breeam": false,
                        "buildingOption": false,
                        "numberBuilding": 1,
                        "buildingList": null,
                        "totalArea": 0,
                        "publicPageOption": false,
                        "publicPage": {
                            "id": 0,
                            "imagesActive": false,
                            "buildingAddressActive": false,
                            "buildingAddress": null,
                            "googleEarthLinkActive": false,
                            "googleEarthLink": null,
                            "geolocActive": false,
                            "geolocLat": 0,
                            "geolocLng": 0,
                            "buildingDescriptionActive": false,
                            "buildingDescription": null,
                            "buildingZoneDescriptionActive": false,
                            "buildingZoneDescription": null,
                            "publicTransportationAccessActive": false,
                            "publicTransportationAccess": null,
                            "amenitiesActive": false,
                            "amenitiesConference": false,
                            "amenitiesElectricalPlug": false,
                            "amenitiesGarden": false,
                            "amenitiesCorporateRestaurant": false,
                            "amenitiesCafetaria": false,
                            "amenitiesBikeRoom": false,
                            "amenitiesFitnessCenter": false,
                            "amenitiesRetail": false,
                            "amenitiesConciergeServices": false,
                            "amenitiesErp": false,
                            "lettableAreaActive": false,
                            "lettableArea": 0,
                            "lettableAreaDetailsActive": false,
                            "lettableAreaDetails": null,
                            "propertyValueActive": false,
                            "propertyValue": null,
                            "occupationRateActive": false,
                            "occupationRate": null,
                            "occupiedSpacesActive": false,
                            "occupiedSpaces": null,
                            "vacantSpacesActive": false,
                            "vacantSpaces": null,
                            "averageFloorAreaActive": false,
                            "averageFloorArea": null,
                            "numberOfFloorActive": false,
                            "numberOfFloor": null,
                            "stackingPlanActive": false,
                            "stackingPlanTenantActive": false,
                            "brokerActive": false,
                            "propertyManagerActive": false,
                            "assetManagerActive": false,
                            "websiteActive": false,
                            "website": null
                        },
                        "tempValue": "29600000",
                        "tempDebt": "8880000",
                        "tempCapex": "1500000",
                        "tempCharges": "52",
                        "tempErv": "200",
                        "propertyLocales": []
                    }
                ]
            }

## Property Detail [/companies/{customerId}/portfolios/{portfolioId}/properties/{propertyId}]
### Property Detail [GET]
Get detail of Property.

+ Request (application/json)

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Success",
                "data": {
                    "kpi": {
                        "lettableArea": "8000.00",
                        "value": "29600000",
                        "occupiedArea": 5400,
                        "annualIncome": "1141291.00",
                        "occupationRate": 67.5,
                        "propertyValue": "29600000",
                        "numberOfTenant": 3,
                        "propertyDebt": "8880000",
                        "averageFaceRentSignature": 209.03740740740741,
                        "averageFaceRent": 207.36305886549633,
                        "averageEconomicRentSignature": 0,
                        "currentCapexProgram": "1500000",
                        "recoverableChargeTax": "52",
                        "erv": "200",
                        "wale": {
                            "kpi1": 4.156643835616438,
                            "kpi2": 4.285024517946318,
                            "kpi3": 6.157990867579908,
                            "kpi4": 6.237386137187484,
                            "kpi5": 2.606164383561644,
                            "kpi6": 2.4681927016681837,
                            "kpi7": 3.8609842719431757,
                            "kpi8": 3.5927614595472246,
                            "kpi1WaltAreaIncludeVacancy": 4.156643835616438,
                            "kpi2WaltRentIncludeVacancy": 4.285024517946318,
                            "kpi3WaltAreaExcludeVacancy": 6.157990867579908,
                            "kpi4WaltRentExcludeVacancy": 6.237386137187484,
                            "kpi5WalbAreaIncludeVacancy": 2.606164383561644,
                            "kpi6WalbRentIncludeVacancy": 2.4681927016681837,
                            "kpi7WalbAreaExcludeVacancy": 3.8609842719431757,
                            "kpi8WalbRentExcludeVacancy": 3.5927614595472246
                        }
                    },
                    "id": 130,
                    "name": "Lyon 2",
                    "crlOption": false,
                    "code": "Lyon 2",
                    "address": {
                        "id": 505,
                        "address1": "58, Avenue Salvador Allende",
                        "address2": null,
                        "zipcode": "69500",
                        "city": "Bron",
                        "country": "France",
                        "lat": 45.7398083,
                        "lng": 4.9274098
                    },
                    "images": [
                        "uploads/properties/1505814944_74c11df7b2524d27b96c6290d791371b.png"
                    ],
                    "unit": "m²",
                    "currency": {
                        "id": 1,
                        "code": "€",
                        "name": "Euro"
                    },
                    "constructionYear": "2017",
                    "restructurationYear": [],
                    "typology": {
                        "id": 2,
                        "code": "2",
                        "hasLoyer": true,
                        "label": "Bureaux"
                    },
                    "sdp": 8000,
                    "numberOfParking": 150,
                    "measurementUnit": {
                        "id": 1,
                        "code": "m²",
                        "name": "square meter",
                        "meterConversionRate": 1
                    },
                    "company": {
                        "id": 0,
                        "address": {
                            "id": 0,
                            "address1": null,
                            "address2": null,
                            "zipcode": null,
                            "city": null,
                            "country": null,
                            "lat": 0,
                            "lng": 0
                        },
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": {
                            "id": 0,
                            "code": null,
                            "label": null
                        },
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    },
                    "coPro": false,
                    "coProCompanyName": null,
                    "coProContactName": null,
                    "coProContactEmail": null,
                    "coProContactPhone": null,
                    "volumeDivided": false,
                    "asl": false,
                    "aful": false,
                    "servitude": false,
                    "zac": false,
                    "igh": false,
                    "erp": false,
                    "icpe": false,
                    "rie": false,
                    "subdivision": false,
                    "commercialUrbanism": false,
                    "expertiseCIBE": false,
                    "cotationCIBE": 0,
                    "expertiseCELOG": false,
                    "cotationCELOG": 0,
                    "greenCertificationOption": false,
                    "hqe": false,
                    "leed": false,
                    "breeam": false,
                    "buildingOption": false,
                    "numberBuilding": 1,
                    "buildingList": null,
                    "totalArea": 0,
                    "publicPageOption": false,
                    "publicPage": {
                        "id": 0,
                        "imagesActive": false,
                        "buildingAddressActive": false,
                        "buildingAddress": null,
                        "googleEarthLinkActive": false,
                        "googleEarthLink": null,
                        "geolocActive": false,
                        "geolocLat": 0,
                        "geolocLng": 0,
                        "buildingDescriptionActive": false,
                        "buildingDescription": null,
                        "buildingZoneDescriptionActive": false,
                        "buildingZoneDescription": null,
                        "publicTransportationAccessActive": false,
                        "publicTransportationAccess": null,
                        "amenitiesActive": false,
                        "amenitiesConference": false,
                        "amenitiesElectricalPlug": false,
                        "amenitiesGarden": false,
                        "amenitiesCorporateRestaurant": false,
                        "amenitiesCafetaria": false,
                        "amenitiesBikeRoom": false,
                        "amenitiesFitnessCenter": false,
                        "amenitiesRetail": false,
                        "amenitiesConciergeServices": false,
                        "amenitiesErp": false,
                        "lettableAreaActive": false,
                        "lettableArea": 0,
                        "lettableAreaDetailsActive": false,
                        "lettableAreaDetails": null,
                        "propertyValueActive": false,
                        "propertyValue": null,
                        "occupationRateActive": false,
                        "occupationRate": null,
                        "occupiedSpacesActive": false,
                        "occupiedSpaces": null,
                        "vacantSpacesActive": false,
                        "vacantSpaces": null,
                        "averageFloorAreaActive": false,
                        "averageFloorArea": null,
                        "numberOfFloorActive": false,
                        "numberOfFloor": null,
                        "stackingPlanActive": false,
                        "stackingPlanTenantActive": false,
                        "brokerActive": false,
                        "propertyManagerActive": false,
                        "assetManagerActive": false,
                        "websiteActive": false,
                        "website": null
                    },
                    "tempValue": "29600000",
                    "tempDebt": "8880000",
                    "tempCapex": "1500000",
                    "tempCharges": "52",
                    "tempErv": "200",
                    "propertyLocales": []
                }
            }

## Property Save <Create/Update> [/companies/{customerId}/portfolios/{portfolioId}/properties/{propertyId}?]
### Property Save <Create/Update> [POST]
Get detail of Property. Parameter `propertyId` is required on update.

+ Request (application/json)

        {
            "dateStart": "2017-01-01",
            "dateEnd": "2017-12-31",
            "leaseEnd": "break-date",
            "indexation": 1,
            "inflation": 1
        }

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Success",
                "data": {
                    "kpi": {
                        "lettableArea": "8000.00",
                        "value": "29600000",
                        "occupiedArea": 5400,
                        "annualIncome": "1141291.00",
                        "occupationRate": 67.5,
                        "propertyValue": "29600000",
                        "numberOfTenant": 3,
                        "propertyDebt": "8880000",
                        "averageFaceRentSignature": 209.03740740740741,
                        "averageFaceRent": 207.36305886549633,
                        "averageEconomicRentSignature": 0,
                        "currentCapexProgram": "1500000",
                        "recoverableChargeTax": "52",
                        "erv": "200",
                        "wale": {
                            "kpi1": 4.156643835616438,
                            "kpi2": 4.285024517946318,
                            "kpi3": 6.157990867579908,
                            "kpi4": 6.237386137187484,
                            "kpi5": 2.606164383561644,
                            "kpi6": 2.4681927016681837,
                            "kpi7": 3.8609842719431757,
                            "kpi8": 3.5927614595472246,
                            "kpi1WaltAreaIncludeVacancy": 4.156643835616438,
                            "kpi2WaltRentIncludeVacancy": 4.285024517946318,
                            "kpi3WaltAreaExcludeVacancy": 6.157990867579908,
                            "kpi4WaltRentExcludeVacancy": 6.237386137187484,
                            "kpi5WalbAreaIncludeVacancy": 2.606164383561644,
                            "kpi6WalbRentIncludeVacancy": 2.4681927016681837,
                            "kpi7WalbAreaExcludeVacancy": 3.8609842719431757,
                            "kpi8WalbRentExcludeVacancy": 3.5927614595472246
                        }
                    },
                    "id": 130,
                    "name": "Lyon 2",
                    "crlOption": false,
                    "code": "Lyon 2",
                    "address": {
                        "id": 505,
                        "address1": "58, Avenue Salvador Allende",
                        "address2": null,
                        "zipcode": "69500",
                        "city": "Bron",
                        "country": "France",
                        "lat": 45.7398083,
                        "lng": 4.9274098
                    },
                    "images": [
                        "uploads/properties/1505814944_74c11df7b2524d27b96c6290d791371b.png"
                    ],
                    "unit": "m²",
                    "currency": {
                        "id": 1,
                        "code": "€",
                        "name": "Euro"
                    },
                    "constructionYear": "2017",
                    "restructurationYear": [],
                    "typology": {
                        "id": 2,
                        "code": "2",
                        "hasLoyer": true,
                        "label": "Bureaux"
                    },
                    "sdp": 8000,
                    "numberOfParking": 150,
                    "measurementUnit": {
                        "id": 1,
                        "code": "m²",
                        "name": "square meter",
                        "meterConversionRate": 1
                    },
                    "company": {
                        "id": 0,
                        "address": {
                            "id": 0,
                            "address1": null,
                            "address2": null,
                            "zipcode": null,
                            "city": null,
                            "country": null,
                            "lat": 0,
                            "lng": 0
                        },
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": {
                            "id": 0,
                            "code": null,
                            "label": null
                        },
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    },
                    "coPro": false,
                    "coProCompanyName": null,
                    "coProContactName": null,
                    "coProContactEmail": null,
                    "coProContactPhone": null,
                    "volumeDivided": false,
                    "asl": false,
                    "aful": false,
                    "servitude": false,
                    "zac": false,
                    "igh": false,
                    "erp": false,
                    "icpe": false,
                    "rie": false,
                    "subdivision": false,
                    "commercialUrbanism": false,
                    "expertiseCIBE": false,
                    "cotationCIBE": 0,
                    "expertiseCELOG": false,
                    "cotationCELOG": 0,
                    "greenCertificationOption": false,
                    "hqe": false,
                    "leed": false,
                    "breeam": false,
                    "buildingOption": false,
                    "numberBuilding": 1,
                    "buildingList": null,
                    "totalArea": 0,
                    "publicPageOption": false,
                    "publicPage": {
                        "id": 0,
                        "imagesActive": false,
                        "buildingAddressActive": false,
                        "buildingAddress": null,
                        "googleEarthLinkActive": false,
                        "googleEarthLink": null,
                        "geolocActive": false,
                        "geolocLat": 0,
                        "geolocLng": 0,
                        "buildingDescriptionActive": false,
                        "buildingDescription": null,
                        "buildingZoneDescriptionActive": false,
                        "buildingZoneDescription": null,
                        "publicTransportationAccessActive": false,
                        "publicTransportationAccess": null,
                        "amenitiesActive": false,
                        "amenitiesConference": false,
                        "amenitiesElectricalPlug": false,
                        "amenitiesGarden": false,
                        "amenitiesCorporateRestaurant": false,
                        "amenitiesCafetaria": false,
                        "amenitiesBikeRoom": false,
                        "amenitiesFitnessCenter": false,
                        "amenitiesRetail": false,
                        "amenitiesConciergeServices": false,
                        "amenitiesErp": false,
                        "lettableAreaActive": false,
                        "lettableArea": 0,
                        "lettableAreaDetailsActive": false,
                        "lettableAreaDetails": null,
                        "propertyValueActive": false,
                        "propertyValue": null,
                        "occupationRateActive": false,
                        "occupationRate": null,
                        "occupiedSpacesActive": false,
                        "occupiedSpaces": null,
                        "vacantSpacesActive": false,
                        "vacantSpaces": null,
                        "averageFloorAreaActive": false,
                        "averageFloorArea": null,
                        "numberOfFloorActive": false,
                        "numberOfFloor": null,
                        "stackingPlanActive": false,
                        "stackingPlanTenantActive": false,
                        "brokerActive": false,
                        "propertyManagerActive": false,
                        "assetManagerActive": false,
                        "websiteActive": false,
                        "website": null
                    },
                    "tempValue": "29600000",
                    "tempDebt": "8880000",
                    "tempCapex": "1500000",
                    "tempCharges": "52",
                    "tempErv": "200",
                    "propertyLocales": []
                }
            }

## Group Property Cashflow

## Property Cashflow Detail [/companies/{customerId}/portfolios/{portfolioId}/properties/{propertyId}/cashflow]
### Property Cashflow Detail [POST]
Get detail of cashflow. See full response here: https://gist.github.com/nevertry/15151e2962145ab0396db441a4479598

+ Request (application/json)

+ Response 200 (application/json)

    + Body
        
            {
                "code": 0,
                "message": "Success",
                "data": {
                }
            }

## Group Property Lease

## Property Lease List [/companies/{customerId}/portfolios/{portfolioId}/properties/{propertyId}/contracts]
### Property Lease List [GET]
Get list of leases.

+ Request (application/json)

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 64,
                        "status": "VALIDATED",
                        "rent": 364461.90701981843,
                        "area": 1400,
                        "submitUserId": 29,
                        "validateUserId": 36,
                        "code": "LOC 3",
                        "contractType": {
                            "id": 1,
                            "code": "commercial",
                            "label": "Bail commercial"
                        },
                        "usagePrincipal": {
                            "id": 1,
                            "code": "1",
                            "label": "Commerces"
                        },
                        "tenant": {
                            "id": 58,
                            "fullName": "Clemens",
                            "raisonSociale": {
                                "id": 2,
                                "code": "M02",
                                "label": "S.A."
                            },
                            "vatOption": true,
                            "vat": "FR 45 583 419 834",
                            "addressOption": true,
                            "addresses": [
                                {
                                    "id": 263,
                                    "addressType": "headquarter",
                                    "address": {
                                        "id": 515,
                                        "address1": "23 Descente de Bellevue",
                                        "address2": "",
                                        "zipcode": "29940",
                                        "city": "Fouesnant",
                                        "country": "France",
                                        "lat": 47.884193,
                                        "lng": -3.9890793
                                    }
                                },
                                {
                                    "id": 264,
                                    "addressType": "billing",
                                    "address": {
                                        "id": 516,
                                        "address1": "",
                                        "address2": "",
                                        "zipcode": "",
                                        "city": "",
                                        "country": "",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                },
                                {
                                    "id": 265,
                                    "addressType": "headquarter",
                                    "address": {
                                        "id": 515,
                                        "address1": "23 Descente de Bellevue",
                                        "address2": "",
                                        "zipcode": "29940",
                                        "city": "Fouesnant",
                                        "country": "France",
                                        "lat": 47.884193,
                                        "lng": -3.9890793
                                    }
                                },
                                {
                                    "id": 266,
                                    "addressType": "billing",
                                    "address": {
                                        "id": 516,
                                        "address1": "",
                                        "address2": "",
                                        "zipcode": "",
                                        "city": "",
                                        "country": "",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                },
                                {
                                    "id": 269,
                                    "addressType": "headquarter",
                                    "address": {
                                        "id": 515,
                                        "address1": "23 Descente de Bellevue",
                                        "address2": "",
                                        "zipcode": "29940",
                                        "city": "Fouesnant",
                                        "country": "France",
                                        "lat": 47.884193,
                                        "lng": -3.9890793
                                    }
                                },
                                {
                                    "id": 270,
                                    "addressType": "billing",
                                    "address": {
                                        "id": 516,
                                        "address1": "",
                                        "address2": "",
                                        "zipcode": "",
                                        "city": "",
                                        "country": "",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                },
                                {
                                    "id": 271,
                                    "addressType": "headquarter",
                                    "address": {
                                        "id": 515,
                                        "address1": "23 Descente de Bellevue",
                                        "address2": "",
                                        "zipcode": "29940",
                                        "city": "Fouesnant",
                                        "country": "France",
                                        "lat": 47.884193,
                                        "lng": -3.9890793
                                    }
                                },
                                {
                                    "id": 272,
                                    "addressType": "billing",
                                    "address": {
                                        "id": 516,
                                        "address1": "",
                                        "address2": "",
                                        "zipcode": "",
                                        "city": "",
                                        "country": "",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                },
                                {
                                    "id": 629,
                                    "addressType": "headquarter",
                                    "address": {
                                        "id": 515,
                                        "address1": "23 Descente de Bellevue",
                                        "address2": "",
                                        "zipcode": "29940",
                                        "city": "Fouesnant",
                                        "country": "France",
                                        "lat": 47.884193,
                                        "lng": -3.9890793
                                    }
                                },
                                {
                                    "id": 630,
                                    "addressType": "billing",
                                    "address": {
                                        "id": 516,
                                        "address1": "",
                                        "address2": "",
                                        "zipcode": "",
                                        "city": "",
                                        "country": "",
                                        "lat": 48.6670602,
                                        "lng": 1.8179955
                                    }
                                }
                            ],
                            "siren": "",
                            "bankDetails": "",
                            "bankAccountName": "",
                            "iban": "FR76 300 0203 2531 2345 6789 0168 ____ __",
                            "swift": "",
                            "contactJobTitle": "Directeur Financier",
                            "contactCivility": "mrs",
                            "contactLastName": "Lacroix",
                            "contactFirstName": "Martine",
                            "contactEmail": "martine.lacroix@clemens.fr",
                            "contactOfficePhone": "",
                            "color": "#a21c7c"
                        },
                        "leaseExecutionDate": "1970-11-13",
                        "leaseStartDate": "1970-01-01",
                        "leaseAvailabilityOption": false,
                        "leaseAvailabilityDate": null,
                        "chargeRecoverableOption": false,
                        "inventoryFixtureOption": true,
                        "leaseEndDate": "2024-12-31",
                        "leaseDuration": 660,
                        "bailFixedTerms": [
                            {
                                "id": 65,
                                "duration": 36,
                                "startDate": null,
                                "endDate": "2019-01-01"
                            },
                            {
                                "id": 66,
                                "duration": 36,
                                "startDate": null,
                                "endDate": "2022-01-01"
                            },
                            {
                                "id": 67,
                                "duration": 36,
                                "startDate": null,
                                "endDate": "2025-01-01"
                            }
                        ],
                        "subleaseOption": false,
                        "sublease": "",
                        "leaseTransferOption": false,
                        "leaseTransfer": "",
                        "tenantFirstRefusalRightOption": false,
                        "tenantFirstRefusalRight": "",
                        "tenantFirstRefusalPreemptiveRightOption": false,
                        "environmentalAppendixOption": false,
                        "greenLeaseOption": false,
                        "icpeOption": false,
                        "chargeRecoverableComment": null,
                        "buildings": [
                            {
                                "id": 101,
                                "selectedLots": [
                                    6612,
                                    6611,
                                    6525,
                                    6526,
                                    6527,
                                    6528,
                                    6529,
                                    6530,
                                    6531,
                                    6532,
                                    6533,
                                    6534,
                                    6535,
                                    6536,
                                    6537,
                                    6538,
                                    6539,
                                    6540,
                                    6541,
                                    6542,
                                    6543,
                                    6544,
                                    6545,
                                    6546,
                                    6547
                                ],
                                "unavailableLots": []
                            }
                        ],
                        "loyers": [
                            {
                                "id": 1599,
                                "typology": {
                                    "id": 20,
                                    "code": "7",
                                    "hasLoyer": true,
                                    "label": "Parkings"
                                },
                                "loyerFacialAnnuel": 4600,
                                "loyerFacialAnnuelM2": 200,
                                "sdp": 23,
                                "indexReferenceFirstDate": "2017-01-01",
                                "indexReference": {
                                    "id": 6,
                                    "value": 107.98,
                                    "nature": "ILAT",
                                    "periode": "2015-07-01"
                                },
                                "freeRent": null,
                                "plafon": null,
                                "plafonOption": false,
                                "level": null,
                                "tenantIncentive": null
                            },
                            {
                                "id": 1598,
                                "typology": {
                                    "id": 2,
                                    "code": "2",
                                    "hasLoyer": true,
                                    "label": "Bureaux"
                                },
                                "loyerFacialAnnuel": 352002,
                                "loyerFacialAnnuelM2": 251.43,
                                "sdp": 1400,
                                "indexReferenceFirstDate": "2017-01-01",
                                "indexReference": {
                                    "id": 6,
                                    "value": 107.98,
                                    "nature": "ILAT",
                                    "periode": "2015-07-01"
                                },
                                "freeRent": null,
                                "plafon": null,
                                "plafonOption": false,
                                "level": null,
                                "tenantIncentive": null
                            }
                        ],
                        "invoicingPeriod": 1,
                        "invoicingInterval": "quarter",
                        "paidInAdvance": true,
                        "bailDepositOption": true,
                        "bailDeposit": {
                            "id": 58,
                            "month": 3,
                            "ttc": true,
                            "amount": "106980"
                        },
                        "bailCaution": null,
                        "bailCharge": {
                            "id": 58,
                            "landTaxOption": true,
                            "garbageTaxOption": true,
                            "officeTaxOption": true,
                            "additionalTaxOption": true,
                            "cvaeOption": true,
                            "civilCode605Option": true,
                            "civilCode606Option": false,
                            "buildingInsuranceOption": true,
                            "administrativeFeeOption": false,
                            "technicalFeeOption": true,
                            "defaultInterestOption": false,
                            "defaultInterestComment": "",
                            "myreOption": true,
                            "tlpeOption": false,
                            "otherRecoverableChargeOption": false,
                            "otherRecoverableChargeComment": null,
                            "fgrmOption": false
                        },
                        "noticePeriodDuration": 6,
                        "terminationNoticeDate": null,
                        "terminationReason": "",
                        "terminationPenaltyFeeOption": false,
                        "terminationPenaltyFeeAmount": 0,
                        "terminationPenaltyFeeComment": "",
                        "tenantMoveOutDate": null,
                        "departureInventoryOption": true,
                        "refurbishmentOption": false,
                        "refurbishmentAmount": 0,
                        "rentalDeductionOption": false,
                        "rentalDeductionAmount": 0,
                        "disputeOption": false,
                        "disputeComment": "",
                        "cancelationClauseOption": false,
                        "additionalComment": ""
                    }
                ]
            }

## Property Lease Detail [/companies/{customerId}/portfolios/{portfolioId}/properties/{propertyId}/contracts/{contractId}]
### Property Lease Detail [GET]
Get detail of leases.

+ Request (application/json)

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 64,
                    "status": "VALIDATED",
                    "rent": 364461.90701981843,
                    "area": 1400,
                    "submitUserId": 29,
                    "validateUserId": 36,
                    "code": "LOC 3",
                    "contractType": {
                        "id": 1,
                        "code": "commercial",
                        "label": "Bail commercial"
                    },
                    "usagePrincipal": {
                        "id": 1,
                        "code": "1",
                        "label": "Commerces"
                    },
                    "tenant": {
                        "id": 58,
                        "fullName": "Clemens",
                        "raisonSociale": {
                            "id": 2,
                            "code": "M02",
                            "label": "S.A."
                        },
                        "vatOption": true,
                        "vat": "FR 45 583 419 834",
                        "addressOption": true,
                        "addresses": [
                            {
                                "id": 263,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
                                    "address1": "23 Descente de Bellevue",
                                    "address2": "",
                                    "zipcode": "29940",
                                    "city": "Fouesnant",
                                    "country": "France",
                                    "lat": 47.884193,
                                    "lng": -3.9890793
                                }
                            },
                            {
                                "id": 264,
                                "addressType": "billing",
                                "address": {
                                    "id": 516,
                                    "address1": "",
                                    "address2": "",
                                    "zipcode": "",
                                    "city": "",
                                    "country": "",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                }
                            },
                            {
                                "id": 265,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
                                    "address1": "23 Descente de Bellevue",
                                    "address2": "",
                                    "zipcode": "29940",
                                    "city": "Fouesnant",
                                    "country": "France",
                                    "lat": 47.884193,
                                    "lng": -3.9890793
                                }
                            },
                            {
                                "id": 266,
                                "addressType": "billing",
                                "address": {
                                    "id": 516,
                                    "address1": "",
                                    "address2": "",
                                    "zipcode": "",
                                    "city": "",
                                    "country": "",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                }
                            },
                            {
                                "id": 269,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
                                    "address1": "23 Descente de Bellevue",
                                    "address2": "",
                                    "zipcode": "29940",
                                    "city": "Fouesnant",
                                    "country": "France",
                                    "lat": 47.884193,
                                    "lng": -3.9890793
                                }
                            },
                            {
                                "id": 270,
                                "addressType": "billing",
                                "address": {
                                    "id": 516,
                                    "address1": "",
                                    "address2": "",
                                    "zipcode": "",
                                    "city": "",
                                    "country": "",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                }
                            },
                            {
                                "id": 271,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
                                    "address1": "23 Descente de Bellevue",
                                    "address2": "",
                                    "zipcode": "29940",
                                    "city": "Fouesnant",
                                    "country": "France",
                                    "lat": 47.884193,
                                    "lng": -3.9890793
                                }
                            },
                            {
                                "id": 272,
                                "addressType": "billing",
                                "address": {
                                    "id": 516,
                                    "address1": "",
                                    "address2": "",
                                    "zipcode": "",
                                    "city": "",
                                    "country": "",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                }
                            },
                            {
                                "id": 629,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
                                    "address1": "23 Descente de Bellevue",
                                    "address2": "",
                                    "zipcode": "29940",
                                    "city": "Fouesnant",
                                    "country": "France",
                                    "lat": 47.884193,
                                    "lng": -3.9890793
                                }
                            },
                            {
                                "id": 630,
                                "addressType": "billing",
                                "address": {
                                    "id": 516,
                                    "address1": "",
                                    "address2": "",
                                    "zipcode": "",
                                    "city": "",
                                    "country": "",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                }
                            }
                        ],
                        "siren": "",
                        "bankDetails": "",
                        "bankAccountName": "",
                        "iban": "FR76 300 0203 2531 2345 6789 0168 ____ __",
                        "swift": "",
                        "contactJobTitle": "Directeur Financier",
                        "contactCivility": "mrs",
                        "contactLastName": "Lacroix",
                        "contactFirstName": "Martine",
                        "contactEmail": "martine.lacroix@clemens.fr",
                        "contactOfficePhone": "",
                        "color": "#a21c7c"
                    },
                    "leaseExecutionDate": "1970-11-13",
                    "leaseStartDate": "1970-01-01",
                    "leaseAvailabilityOption": false,
                    "leaseAvailabilityDate": null,
                    "chargeRecoverableOption": false,
                    "inventoryFixtureOption": true,
                    "leaseEndDate": "2024-12-31",
                    "leaseDuration": 660,
                    "bailFixedTerms": [
                        {
                            "id": 65,
                            "duration": 36,
                            "startDate": null,
                            "endDate": "2019-01-01"
                        },
                        {
                            "id": 66,
                            "duration": 36,
                            "startDate": null,
                            "endDate": "2022-01-01"
                        },
                        {
                            "id": 67,
                            "duration": 36,
                            "startDate": null,
                            "endDate": "2025-01-01"
                        }
                    ],
                    "subleaseOption": false,
                    "sublease": "",
                    "leaseTransferOption": false,
                    "leaseTransfer": "",
                    "tenantFirstRefusalRightOption": false,
                    "tenantFirstRefusalRight": "",
                    "tenantFirstRefusalPreemptiveRightOption": false,
                    "environmentalAppendixOption": false,
                    "greenLeaseOption": false,
                    "icpeOption": false,
                    "chargeRecoverableComment": null,
                    "buildings": [
                        {
                            "id": 101,
                            "selectedLots": [
                                6612,
                                6611,
                                6525,
                                6526,
                                6527,
                                6528,
                                6529,
                                6530,
                                6531,
                                6532,
                                6533,
                                6534,
                                6535,
                                6536,
                                6537,
                                6538,
                                6539,
                                6540,
                                6541,
                                6542,
                                6543,
                                6544,
                                6545,
                                6546,
                                6547
                            ],
                            "unavailableLots": []
                        }
                    ],
                    "loyers": [
                        {
                            "id": 1599,
                            "typology": {
                                "id": 20,
                                "code": "7",
                                "hasLoyer": true,
                                "label": "Parkings"
                            },
                            "loyerFacialAnnuel": 4600,
                            "loyerFacialAnnuelM2": 200,
                            "sdp": 23,
                            "indexReferenceFirstDate": "2017-01-01",
                            "indexReference": {
                                "id": 6,
                                "value": 107.98,
                                "nature": "ILAT",
                                "periode": "2015-07-01"
                            },
                            "freeRent": null,
                            "plafon": null,
                            "plafonOption": false,
                            "level": null,
                            "tenantIncentive": null
                        },
                        {
                            "id": 1598,
                            "typology": {
                                "id": 2,
                                "code": "2",
                                "hasLoyer": true,
                                "label": "Bureaux"
                            },
                            "loyerFacialAnnuel": 352002,
                            "loyerFacialAnnuelM2": 251.43,
                            "sdp": 1400,
                            "indexReferenceFirstDate": "2017-01-01",
                            "indexReference": {
                                "id": 6,
                                "value": 107.98,
                                "nature": "ILAT",
                                "periode": "2015-07-01"
                            },
                            "freeRent": null,
                            "plafon": null,
                            "plafonOption": false,
                            "level": null,
                            "tenantIncentive": null
                        }
                    ],
                    "invoicingPeriod": 1,
                    "invoicingInterval": "quarter",
                    "paidInAdvance": true,
                    "bailDepositOption": true,
                    "bailDeposit": {
                        "id": 58,
                        "month": 3,
                        "ttc": true,
                        "amount": "106980"
                    },
                    "bailCaution": null,
                    "bailCharge": {
                        "id": 58,
                        "landTaxOption": true,
                        "garbageTaxOption": true,
                        "officeTaxOption": true,
                        "additionalTaxOption": true,
                        "cvaeOption": true,
                        "civilCode605Option": true,
                        "civilCode606Option": false,
                        "buildingInsuranceOption": true,
                        "administrativeFeeOption": false,
                        "technicalFeeOption": true,
                        "defaultInterestOption": false,
                        "defaultInterestComment": "",
                        "myreOption": true,
                        "tlpeOption": false,
                        "otherRecoverableChargeOption": false,
                        "otherRecoverableChargeComment": null,
                        "fgrmOption": false
                    },
                    "noticePeriodDuration": 6,
                    "terminationNoticeDate": null,
                    "terminationReason": "",
                    "terminationPenaltyFeeOption": false,
                    "terminationPenaltyFeeAmount": 0,
                    "terminationPenaltyFeeComment": "",
                    "tenantMoveOutDate": null,
                    "departureInventoryOption": true,
                    "refurbishmentOption": false,
                    "refurbishmentAmount": 0,
                    "rentalDeductionOption": false,
                    "rentalDeductionAmount": 0,
                    "disputeOption": false,
                    "disputeComment": "",
                    "cancelationClauseOption": false,
                    "additionalComment": ""
                }
            }

## Property Lease Save <Create/Update> [/companies/{customerId}/portfolios/{portfolioId}/properties/{propertyId}/contracts/{contractId}?]
### Property Lease Save <Create/Update> [POST]
Get list of leases. Parameter `contractId` is required on update.

+ Request (application/json)

+ Response 200 (application/json)

    + Body

            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 64,
                    "status": "CREATED",
                    "rent": 364461.90701981843,
                    "area": 1400,
                    "submitUserId": 29,
                    "validateUserId": 36,
                    "code": "LOC 3",
                    "contractType": {
                        "id": 1,
                        "code": "commercial",
                        "label": "Bail commercial"
                    },
                    "usagePrincipal": {
                        "id": 1,
                        "code": "1",
                        "label": "Commerces"
                    },
                    "tenant": {
                        "id": 58,
                        "fullName": "Clemens",
                        "raisonSociale": {
                            "id": 2,
                            "code": "M02",
                            "label": "S.A."
                        },
                        "vatOption": true,
                        "vat": "FR 45 583 419 834",
                        "addressOption": true,
                        "addresses": [
                            {
                                "id": 263,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
                                    "address1": "23 Descente de Bellevue",
                                    "address2": "",
                                    "zipcode": "29940",
                                    "city": "Fouesnant",
                                    "country": "France",
                                    "lat": 47.884193,
                                    "lng": -3.9890793
                                }
                            },
                            {
                                "id": 264,
                                "addressType": "billing",
                                "address": {
                                    "id": 516,
                                    "address1": "",
                                    "address2": "",
                                    "zipcode": "",
                                    "city": "",
                                    "country": "",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                }
                            },
                            {
                                "id": 265,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
                                    "address1": "23 Descente de Bellevue",
                                    "address2": "",
                                    "zipcode": "29940",
                                    "city": "Fouesnant",
                                    "country": "France",
                                    "lat": 47.884193,
                                    "lng": -3.9890793
                                }
                            },
                            {
                                "id": 266,
                                "addressType": "billing",
                                "address": {
                                    "id": 516,
                                    "address1": "",
                                    "address2": "",
                                    "zipcode": "",
                                    "city": "",
                                    "country": "",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                }
                            },
                            {
                                "id": 269,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
                                    "address1": "23 Descente de Bellevue",
                                    "address2": "",
                                    "zipcode": "29940",
                                    "city": "Fouesnant",
                                    "country": "France",
                                    "lat": 47.884193,
                                    "lng": -3.9890793
                                }
                            },
                            {
                                "id": 270,
                                "addressType": "billing",
                                "address": {
                                    "id": 516,
                                    "address1": "",
                                    "address2": "",
                                    "zipcode": "",
                                    "city": "",
                                    "country": "",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                }
                            },
                            {
                                "id": 271,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
                                    "address1": "23 Descente de Bellevue",
                                    "address2": "",
                                    "zipcode": "29940",
                                    "city": "Fouesnant",
                                    "country": "France",
                                    "lat": 47.884193,
                                    "lng": -3.9890793
                                }
                            },
                            {
                                "id": 272,
                                "addressType": "billing",
                                "address": {
                                    "id": 516,
                                    "address1": "",
                                    "address2": "",
                                    "zipcode": "",
                                    "city": "",
                                    "country": "",
                                    "lat": 48.6670602,
                                    "lng": 1.8179955
                                }
                            },
                            {
                                "id": 629,
                                "addressType": "headquarter",
                                "address": {
                                    "id": 515,
[...]
